@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

p{
    font-size: 1.3em;
    text-indent: 20px;
    padding-bottom: 10px;
}

li{
    font-size: 1.3em;
}

header{
    text-align: center;
    background-color: #474B50;
    color: white;
    padding-bottom: 30px;
}

header h1{
    font-size: 2.5em;
    padding: 10px;
}

header p{
    font-weight: bold;
    font-size: 1.3em;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
    cursor: pointer;
}

main{
    padding: 10px;
    margin: auto;
}

.protofolio{
  text-align: justify;
  text-indent: 10px; 
}

.protofolio p{
    margin-bottom: 50px;
    font-size: 1.3em;
}

.perfil{
    display: block;
    margin: auto;
    padding: 20px;
}

.texto-secundario-protofolio h1{
    background-image: linear-gradient(to right,#252B33, #5B687A);
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

.texto-secundario-protofolio h2{
    margin-top: 20px;
    font-size: 2em;
    color: #3E5049;
    font-weight: bold;
}

article.modulo-1 h3,h4,h5,p{
    margin-top: 20px;
}

article.modulo-1 h3{
    color: darkslategray;
    font-size: 1.7em;
}

article.modulo-1 h4{
    font-size: 1.5em;
}

article.modulo-1 h5{
    font-size: 1.2em;
}

article.modulo-1 h4,h5{
    color: #4B7A67;
    font-weight: bold;
}

article.modulo-1 img{
    padding: 20px;
    display: block;
    margin: auto;
    width: 30%;
}

code{
    font-size: 1.2em;
    font-weight: bold;
}

dl,dt,dd{
    font-size: 1.2em;
    font-weight: normal;
    padding: 5px;
}


article audio{
    padding-top: 20px;
    color: #4B7A67;
}

article.modulo-1 video{
    position: absolute;
    padding: 10px;
    top: 20%;    
    left: 10%;
    width: 80%;
    height: 60%;
}

div.vidcontainer{
    background-color: #4B7A67;
    position: relative;
    margin: 20px -10px 15px 25%;
    padding-bottom: 50%;
    width: 60%; 
}



div.cor1{
   display: inline-block;
   padding: 10px;
   margin: 10px;
   margin-top: 20px;
}

section.modulo-2{
    margin-top: 50px;
    margin-bottom: 50px;
}

section.modulo-2 h3{
    color: darkslategray;
    padding-bottom: 30px;
    font-size: 1.7em;
}

section.modulo-2 h4{
    color: #4B7A67;
    font-size: 1.5em;
}

section.modulo-3 h3{
    color: darkslategray;
    padding-bottom: 30px;
    font-size: 1.7em;
}

section.modulo-3 h4{
    color: #4B7A67;
    font-size: 1.5em;
}

caption{
    font-size: 1.5em;
    padding: 20px;
    color:darkslategray;
    font-weight: bolder;
}

table{
    border-collapse: collapse;
    width: 500px;
}

td{
    font-size: 1.3em;
}

td,th{
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even){
    background-color: rgba(156, 152, 146, 0.42);
}

.container-tabela{
    overflow-x: auto;
}

footer{
    margin-top: 10px;
    background-color: #474B50;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

